<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedicalGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82FF43F81E94DEDD00FCB621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FF440C1E94DEDD00FCB621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FF44171E94DEDD00FCB621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
